{:enums      {
              :episode {:description "The episodes of the original Star Wars trilogy."
                        :values      ["NEWHOPE" "EMPIRE" "JEDI"]}}

 :interfaces {
              :character {:fields {:id         {:type String}
                                   :name       {:type String}
                                   :appears_in {:type (list :episode)}
                                   :friends    {:type (list :character)}}}}
 :objects    {
              :droid
              {:implements [:character]
               :fields     {:id               {:type String}
                            :name             {:type String}
                            :appears_in       {:type (list :episode)}
                            :friends          {:type (list :character)
                                               :resolve :resolve-friends}
                            :primary_function {:type (list String)}}}

              :human
              {:implements [:character]
               :fields     {:id          {:type String}
                            :name        {:type String}
                            :appears_in  {:type (list :episode)}
                            :friends     {:type (list :character)
                                          :resolve :resolve-friends}
                            :home_planet {:type String}}}
              :action
              {:fields     {:user        {:type String}
                            :row         {:type Int}
                            :col         {:type Int}
                            :val         {:type Float}
                            :inst        {:type String}}}
              :user
              {:fields     {:name        {:type String}
                            :password    {:type String}}}}
 :queries    {
              :hero
              {:type    (non-null :character)
               :args    {:episode {:type :episode}}
               :resolve :resolve-hero}
              :human
              {:type    (non-null :human)
               :args    {:id {:type          String
                              :default-value "1001"}}
               :resolve :resolve-human}
              :droid
              {:type    :droid
               :args    {:id {:type          String
                              :default-value "2001"}}
               :resolve :resolve-droid}
              :humans
              {:type    (list :human)
               :resolve :resolve-humans}
              :droids
              {:type    (list :droid)
               :resolve :resolve-droids}
              :users
              {:type    (list user)
               :resolve :resolve-users}
              :actions
              {:type    (list action)
               :resolve :resolve-actions}}
 :mutations  {
              :createHuman
              {:type    (list :human)
               :args    {:id     {:type  (non-null String)}
                         :name   {:type  (non-null String)}}
               :resolve :resolve-mutate-human}}}
